{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}


<div class="grid second-header">
  <div class="grid-item large--two-twelfths">
    <a href="/"><div class="logo-black"></div></a>
  </div>
  <div class="grid-item {% if collection %}{% unless collection.handle contains 'lookbook'%}large--seven-twelfths{% else %}large--ten-twelfths{% endunless%}{%else%}large--seven-twelfths{% endif %}">
    {% if collection and collection.title != 'Products'%}
      {% if collection.handle contains 'lookbook' %}
        <h2 class="lookbook-title">
          {% if collection.handle == 'winter-2014-lookbook-part-1' %}
            <div class="line1">Winter 2014</div>
            <div class="line2">Lookbook Part 1</div>
          {% elsif collection.handle == 'lookbook-fall-2014'%}
            <div class="line1">Fall 2014</div>
            <div class="line2">Lookbook</div>
          {% else %}
            {{ collection.title }}
          {% endif %}
        </h2>
      {% else %}
        <h2>{{ collection.title }}</h2>
      {% endif %}
    {% else %}
      <h2>New Arrivals</h2>
    {% endif %}
  </div>
  {% if collection %}
    {% unless collection.handle contains 'lookbook' %}
      <div class="grid-item large--three-twelfths free-shipping-wrapper">
        <div class="free-shipping">
          <div class="line-one">
            Free domestic shipping
          </div>
          <div class="line-two">
            on orders over $100
          </div>
        </div>
      </div>
    {% endunless %}
  {% endif %}
</div>

{% if collection and collection.handle contains 'lookbook'%}
  {{ 'owl.carousel.min.js' | asset_url | script_tag }}
  {{ 'owl.carousel.css' | asset_url | stylesheet_tag }}
  {{ 'owl.theme.css' | asset_url | stylesheet_tag }}
  {{ 'owl.transitions.css' | asset_url | stylesheet_tag }}
  <div class="wrapper">
    <div class="grid">
      <div class="lookbook-wrapper-bg">
        <div id="lookbook" class="owl-carousel owl-theme">
          {% if collection.handle == 'lookbook-fall-2014' %}
            <div class="item"><img src="{{'Fall-2014-Lookbook-01.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-02.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-03.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-04.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-06.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-07.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-08.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-09.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-10.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-11.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-12.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-13.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-14.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-15.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Fall-2014-Lookbook-16.jpg'| asset_url}}" alt="Lookbook Image"></div>
          {% elsif collection.handle == 'winter-2014-lookbook-part-1' %}
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-01.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-02.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-03.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-04.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-05.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-06.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-07.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-08.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-09.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-10.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-11.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-12.jpg'| asset_url}}" alt="Lookbook Image"></div>
            <div class="item"><img src="{{'Winter-2014-Lookbook-Part-1-13.jpg'| asset_url}}" alt="Lookbook Image"></div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <script>
    $(document).ready(function() {
      var owl = $("#lookbook");
      owl.owlCarousel({
          navigation : true, // Show next and prev buttons
          slideSpeed : 300,
          paginationSpeed : 400,
          singleItem:true,
          autoPlay: 4000,
          stopOnHover: true,
          navigationText: ['<img src="{{'owl-left.png' | asset_url}}"/>', '<img src="{{'owl-right.png' | asset_url}}"/>'],
      });
      $(document).keydown(function(e) {
        switch(e.which) {
            case 37: // left
            owl.trigger("owl.prev");
            break;

            case 39: // right
            owl.trigger("owl.next");
            break;

            default: return; // exit this handler for other keys
        }
      });

     
    });
  </script>
{% endif %}

{% paginate collection.products by 100 %}

<div class="wrapper"> 
  <div class="grid">

      {% comment %}
        Different markup if a collection description exists
        ===== E&B FOR REFERENCE ONLY =====
      
        {% if collection.description != blank %}
          <header class="section-header">
            <h1 class="section-header--title">{{ collection.title }}</h1>
            <div class="rte rte--header">
              {{ collection.description }}
            </div>
          </header>
          <hr>
          <div class="section-header">
            <div class="section-header--right">
              {% include 'collection-sorting' %}
              {% include 'collection-views' %}
            </div>
          </div>
        {% else %}
          <header class="section-header">
            <h1 class="section-header--title section-header--left">{{ collection.title }}</h1>
            <div class="section-header--right">
              {% include 'collection-sorting' %}
              {% include 'collection-views' %}
            </div>
          </header>
        {% endif %}
      {% endcomment %}

      {% comment %}
        Use class grid-uniform to have evenly sized columns clear
        each other properly at each breakpoint.
      {% endcomment %}
      <div class="grid-uniform">

        {% comment %}
          Loop through our products in the current collection.
          See the snippet 'product-grid-item' for the layout.
        {% endcomment %}
        {% for product in collection.products %}
          {% include 'product-grid-item' %}
        {% else %}
          <div class="grid-item">
            <p>Sorry, there are no products matching your search.</p>
          </div>
        {% endfor %}

      </div>

      {% if paginate.pages > 1 %}
        <hr>

        <div class="text-center">
          {% include 'pagination-custom' %}
        </div>
      {% endif %}


  </div>

  {% endpaginate %}
</div> 